# Git
.git
.gitignore
.github/

# Build artifacts
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.env

# Development files
**/.vscode
**/.idea
**/.DS_Store
**/*.log
**/*.sqlite
**/*.db

# Already built files
**/dist
**/build
**/bin

# Allow webapp/dist since we copy it from the previous stage
!webapp/dist

client/plik
clients
release
releases
server/plikd
webapp/bower_components
**/plik.db*
**/plik.crt
**/plik.key
**/files
.idea
