<div id="maindiv" class="row">
    <!-- Left sidebar with Todo lists and settings -->
    <div class="col-sm-3 center-block">
        <!-- TODO LIST PANEL -->
        <div class="todo-panel" ng-if="mode == 'upload'">
            <h4 class="task-heading">My Tasks</h4>
            
            <!-- Project dropdown -->
            <div class="project-dropdown">
                <select class="form-control" ng-model="selectedProject" ng-change="filterByProject()">
                    <option ng-repeat="project in availableProjects">{{project}}</option>
                </select>
            </div>
            
            <!-- Add new task -->
            <div class="todo-add-task">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newTaskText" placeholder="Add a new task..." ng-keyup="$event.keyCode == 13 && addTask()">
                </div>
            </div>
            
            <!-- Task list -->
            <div class="todo-item" ng-repeat="task in todoTasks">
                <input type="checkbox" class="todo-checkbox" ng-checked="task.completed" ng-click="toggleTaskCompletion(task.id)">
                <span ng-class="{'todo-completed': task.completed}" ng-click="showTaskDetails(task.id)" class="task-title">{{task.title}}</span>
                <span class="task-project-tag" ng-if="task.project != 'General' && selectedProject == 'All Projects'">{{task.project}}</span>
                <button class="btn-task-delete" ng-click="deleteTask(task.id)"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            
            <!-- Empty state -->
            <div class="todo-empty" ng-if="todoTasks.length === 0">
                <p class="text-muted text-center">No tasks in this project yet. Add one above!</p>
            </div>
        </div>
        
        <!-- UPLOAD MENU (renamed as task settings) -->
        <div class="tile menu" ng-if="mode == 'upload'">
            <h4 class="task-heading">Task Settings</h4>
            
            <!-- Date selector for tasks -->
            <div class="date-selector">
                <label>Due date:</label>
                <input type="date" class="form-control">
            </div>
            
            <!-- ONE SHOT (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('one_shot')">
                <label class="switch-input">
                    <input name="checkbox-destruct" type="checkbox" ng-model="upload.oneShot" ng-disabled="isFeatureForced('one_shot')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Delete after first view
                    <a tooltip-placement="right"
                       uib-tooltip="The task will be removed after being viewed once.">?</a>
                </label>
            </div>
            
            <!-- STREAMING (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('stream')">
                <label class="switch-input">
                    <input name="checkbox-destruct" type="checkbox" ng-model="upload.stream" ng-disabled="isFeatureForced('stream')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Real-time sharing
                    <a tooltip-placement="right"
                       uib-tooltip="The attachments won't be stored - they'll be shared in real-time when viewed.">?</a>
                </label>
            </div>
            
            <!-- REMOVABLE (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('removable')">
                <label class="switch-input">
                    <input name="checkbox-removable" type="checkbox" ng-model="upload.removable" ng-disabled="isFeatureForced('removable')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Allow deletion
                    <a tooltip-placement="right"
                       uib-tooltip="Allow task to be deleted at any time.">?</a>
                </label>
            </div>
            
            <!-- PASSWORD (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('password')">
                <label class="switch-input">
                    <input name="checkbox-password" type="checkbox" ng-model="$parent.password"
                           ng-change="upload.password = ''" ng-disabled="isFeatureForced('password')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Require password
                    <a tooltip-placement="right"
                       uib-tooltip="Password protect this task and its attachments.">?</a>
                </label>
            </div>
            
            <!-- EXTEND TTL (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('extend_ttl')">
                <label class="switch-input">
                    <input name="checkbox-removable" type="checkbox" ng-model="upload.extend_ttl" ng-disabled="isFeatureForced('extend_ttl')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Extend deadline on view
                    <a tooltip-placement="right"
                       uib-tooltip="Extend task deadline when viewed.">?</a>
                </label>
            </div>
            
            <!-- COMMENTS (renamed) -->
            <div class="menu-item" ng-show="isFeatureEnabled('comments')">
                <label class="switch-input">
                    <input name="checkbox-comments" type="checkbox" ng-model="enableComments" ng-disabled="isFeatureForced('comments')">
                    <i data-swoff-text="OFF" data-swon-text="ON"></i> Task notes
                    <a tooltip-placement="right"
                       uib-tooltip="Add notes to the task. Markdown is supported.">?</a>
                </label>
            </div>
            
            <div class="menu-item" ng-if="enableComments=='1'">
                <textarea class="form-control" ng-model="upload.comments" placeholder="Add task notes here..."></textarea>
            </div>
            
            <!-- EXPIRATION TIME (renamed) -->
            <div class="menu-item">
                <p></p>

                <div class="" style="text-align:center;">
                    <form class="form-inline">
                        <div class="form-group">
                            Task will expire in 
                            <div style="display:inline-block;">
                                <input class="form-control" style="width:60px;display:inline-block;" type="number"
                                       ng-model="$parent.ttlValue" ng-show="ttlUnit != 'unlimited'"
                                       ng-disabled="!isFeatureEnabled('set_ttl')">
                                <select class="form-control" style="width:auto;display:inline-block;"
                                        ng-options="unit as unit for unit in ttlUnits"
                                        ng-model="$parent.ttlUnit"
                                        ng-disabled="!isFeatureEnabled('set_ttl')"></select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- CREATE EMPTY UPLOAD (renamed) -->
            <div class="menu-item">
                <p></p>

                <div class="" style="text-align:center;">
                    <a href="" class="small" ng-click="newUpload(true);"
                       tooltip-placement="bottom" uib-tooltip="Create a task without attachments yet.">
                        Create empty task
                    </a>
                </div>
            </div>
        </div>
        
        <!-- DOWNLOAD MENU (renamed to task details) -->
        <div class="tile menu" ng-if="mode == 'download'">
            <h4 class="task-heading">Task Details</h4>
            
            <!-- QR CODE -->
            <div class="text-center hidden-xs hidden-sm" ng-click="displayQRCodeUpload()">
                <p><img ng-src="{{getQrCodeUploadUrl(200)}}" alt="QR Code" style="border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);"/></p>
            </div>
            
            <!-- EXPIRATION DATE -->
            <div class="menu-item" ng-show="upload.ttl != 0">
                <p class="text-center">This task will {{ getExpirationDate() }}</p>
            </div>
            
            <div class="menu-item text-center" ng-if="displayAdminUrlLink()">
                <a href="" class="small" ng-click="setAdminUrl()"
                   tooltip-placement="bottom" uib-tooltip="Get admin access to manage this task.">
                    Admin access
                </a>
            </div>
        </div>
        
        <!-- Action Buttons Group -->
        <div class="tile menu" ng-if="mode == 'download' && somethingToDownload() && !upload.stream">
            <!-- DOWNLOAD AS ZIP BUTTON (renamed) -->
            <div class="menu-item">
                <a href="{{getZipArchiveUrl()}}">
                    <button type="button" class="btn btn-lg btn-primary btn-block">
                        <i class="glyphicon glyphicon-cloud-download"></i> Download All
                    </button>
                </a>
            </div>
            
            <!-- COPY LINK BUTTON -->
            <div class="menu-item">
                <div>
                    <button type="button" class="btn btn-lg btn-primary btn-block"
                        data-clipboard data-clipboard-text="{{getZipArchiveUrl()}}">
                        <i class="glyphicon glyphicon-copy"></i> Copy link
                    </button>
                </div>
            </div>
        </div>
        
        <!-- ADD FILES BUTTON (renamed) -->
        <div class="tile menu" ng-if="!isFeatureForced('text') && okToAddFiles()">
            <div class="menu-item">
                <div id="drop-zone-download"
                     ngf-select="onFileSelect($files)"
                     ngf-drop="onFileDrop($files,$event)"
                     ngf-multiple="true"
                     ngf-drag-over-class="drag-over">
                    <!-- ADD FILE BUTTON -->
                    <div class="drop-zone-content mini">
                        <i class="fa fa-file"></i>
                        <p>Drag files here or click to browse</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ADD TEXT BUTTON (renamed) -->
        <div class="tile menu" ng-if="isFeatureEnabled('text') && okToAddFiles()">
            <div class="menu-item">
                <button type="button" class="btn btn-lg btn-primary btn-task btn-block" ng-click="openTextDialog('')">
                    <i class="fa fa-pencil"></i> Add Note
                </button>
            </div>
        </div>
        
        <!-- UPLOAD BUTTON (renamed) -->
        <div class="tile menu" ng-if="somethingToUpload()">
            <div class="menu-item">
                <button type="button" class="btn btn-lg btn-success btn-block" ng-click="newUpload()">
                    <i class="glyphicon glyphicon-cloud-upload"></i> Save Task
                </button>
            </div>
        </div>
        
        <!-- REMOVE BUTTON -->
        <div class="tile menu" ng-if="mode == 'download' && (upload.removable || upload.admin)">
            <div class="menu-item">
                <button type="button" class="btn btn-lg btn-danger btn-block" ng-click="removeUpload()">
                    <i class="glyphicon glyphicon-remove"></i> Delete Task
                </button>
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT AREA -->
    <div class="col-sm-9">
        <!-- Task Detail Section (Red Square Area) -->
        <div class="row">
            <div class="col-sm-12">
                <div class="tile task-detail-panel">
                    <div class="row">
                        <div class="col-xs-10">
                            <h4 class="task-heading">Task Details</h4>
                            <div class="task-input-container">
                                <input type="text" class="form-control task-title-input" placeholder="Add a new task or attach a file" ng-model="selectedTaskTitle">
                            </div>
                        </div>
                        <div class="col-xs-2 text-right">
                            <!-- Green Button (Attachment) -->
                            <button class="btn btn-lg attachment-btn" id="attachment-btn" title="Add Attachment" ng-click="scrollToDropZone()">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </button>
                            <!-- Yellow/Red Button (Add Task) -->
                            <button class="btn btn-lg add-task-btn" id="add-task-btn" ng-click="addNewTask()" title="Add Task">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- COMMENTS (renamed to Notes) -->
        <div class="row" ng-show="upload.comments">
            <div class="col-sm-12">
                <div class="tile">
                    <h4 class="task-heading">Task Notes</h4>
                    <div class="comments" btf-markdown="upload.comments">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- FILE LIST (renamed to attachments) -->
        <div class="row">
            <div class="col-sm-12">
                <div class="tile">
                    <div class="row" ng-if="files.length">
                        <div class="col-sm-12">
                            <h4 class="task-heading">Task Attachments</h4>
                        </div>
                    </div>
                    
                    <!-- No files (renamed) -->
                    <div class="row" ng-if="!files.length && mode == 'upload'">
                        <div class="col-sm-12 text-center">
                            <h5 class="text-muted"><br>No files attached to this task yet</h5>
                        </div>
                    </div>
                    
                    <!-- Uploads in progress -->
                    <div class="row" ng-repeat="file in files">
                        <!-- FILE LIST -->
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <!-- No content -->
                                <div class="panel-heading" ng-if="getFileProgress(file) == -1">
                                    <div class="row">
                                        <!-- FILE NAME (left) -->
                                        <div class="col-xs-8">
                                            <i data-ng-hide="file.type == 'application/octet-stream'" class="glyphicon glyphicon-file"></i>
                                            <i data-ng-show="file.type == 'application/octet-stream'" class="glyphicon glyphicon-info-sign"></i>
                                            <span data-ng-hide="file.status == 'removed'" class="file">{{file.fileName}}</span>
                                            <span data-ng-show="file.status == 'removed'" class="file text-muted text-strikethrough">{{file.fileName}}</span>
                                        </div>
                                        <!-- FILE SIZE (center) -->
                                        <div data-ng-hide="file.status == 'removed'" class="col-xs-2 text-muted text-right">
                                            {{ getHumanReadableSize(file.fileSize) }}
                                        </div>
                                        <!-- REMOVE BUTTON (right) -->
                                        <div class="col-xs-2 text-right">
                                            <i ng-if="mode == 'upload'" class="glyphicon glyphicon-remove btn-remove" ng-click="removeFile(file)"></i>
                                            <i ng-if="mode == 'download' && (upload.removable || upload.admin) && file.status != 'removed'"
                                               class="glyphicon glyphicon-remove btn-remove" ng-click="removeRemoteFile(file)"></i>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Content : progress, get/del links -->
                                <div class="panel-body" ng-if="getFileProgress(file) > -1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Stream waiting upload (renamed) -->
                                            <div ng-if="file.status == 'uploading' && upload.stream" class="alert alert-info">
                                                <p><i class="fa fa-info-circle"></i> This file will be shared in real-time when someone downloads it</p>
                                            </div>
                                            
                                            <!-- File removed (renamed) -->
                                            <div ng-if="file.status == 'removed'" class="alert alert-warning">
                                                <p><i class="fa fa-exclamation-triangle"></i> This attachment has been deleted</p>
                                            </div>
                                            
                                            <!-- PROGRESS BAR (renamed) -->
                                            <div ng-if="(file.status == 'uploading') && !(upload.stream && getFileProgress(file) == 100)">
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                         ng-style="{'width': getFileProgress(file) + '%'}"></div>
                                                </div>
                                                <div class="text-center">
                                                    <div>{{getFileProgress(file)}}%</div>
                                                    <div class="text-muted">{{getHumanReadableSpeed(file.averageSpeed)}}</div>
                                                </div>
                                            </div>
                                            
                                            <!-- File upload error (renamed) -->
                                            <div ng-if="file.status == 'error'" class="alert alert-danger">
                                                <p><i class="fa fa-times-circle"></i> Upload error: {{file.error.message}}</p>
                                            </div>
                                            
                                            <!-- File download/del links -->
                                            <div class="row" ng-if="file.status == 'uploaded'">
                                                <!-- DOWNLOAD BUTTON (renamed) -->
                                                <div class="col-md-4">
                                                    <a data-ng-hide="upload.stream && !file.backendDetails.streamable" href="{{getDownloadLink(file)}}">
                                                        <button class="btn btn-primary btn-block btn-task">
                                                            <i class="glyphicon glyphicon-save"></i> View Attachment
                                                        </button>
                                                    </a>
                                                </div>
                                                <!-- File not streamable -->
                                                <div class="col-md-8" ng-if="upload.stream && !file.backendDetails.streamable" class="alert alert-warning">
                                                    <p><i class="fa fa-exclamation-triangle"></i> File upload error: file is not compatible with real-time sharing</p>
                                                </div>
                                                
                                                <!-- COPY LINK AND SHARE BUTTONS -->
                                                <div class="col-md-8" data-ng-hide="upload.stream && !file.backendDetails.streamable">
                                                    <div class="btn-group btn-group-justified">
                                                        <div class="btn-group">
                                                            <button data-clipboard data-clipboard-text="{{getDownloadLink(file)}}" class="btn btn-default">
                                                                <i class="glyphicon glyphicon-link"></i> Copy Link
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button data-clipboard data-clipboard-text="{{getDownloadLink(file)}}" class="btn btn-default">
                                                                <i class="glyphicon glyphicon-share"></i> Share
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
